################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bakalauras/v17/.wsuo
/.vs/Bakalauras/v17/DocumentLayout.json
/.vs/Bakalauras.API/FileContentIndex/79a7a709-557e-44e6-bf31-618191e81154.vsidx
/.vs/Bakalauras.API/FileContentIndex/8ef5ac54-a332-453f-b053-75e39b1260d0.vsidx
/.vs/Bakalauras.API/FileContentIndex/985aff88-34ae-49f3-9647-c1c91d4a410a.vsidx
/.vs/Bakalauras.API/FileContentIndex/e37a075f-11a2-4a23-b828-9a16ef964f84.vsidx
/.vs/Bakalauras.API/FileContentIndex/21f1474e-fc88-4eb2-ab38-2dda346e30e9.vsidx
/.vs/Bakalauras.API/FileContentIndex/359df09d-ad9e-4fa4-8077-834ec5202d17.vsidx
/.vs/Bakalauras.API/FileContentIndex/5329d939-ec9e-45cc-901c-6c2b5f11333f.vsidx
/.vs/Bakalauras.API/FileContentIndex/6de95d45-6e4d-44cf-8331-7bb994630c19.vsidx
/.vs/Bakalauras.API/FileContentIndex/8fb58089-5d99-4bd0-ad1c-f7f113203bf8.vsidx
/.vs/Bakalauras.API/FileContentIndex/b2fe4f2b-4372-4098-bcdc-47bf5962ce68.vsidx
/.vs/Bakalauras.API/FileContentIndex/e2c5c9cc-3cf2-4f95-a539-156ead6638f7.vsidx
/.vs/Bakalauras.API/FileContentIndex/f2e6b0ab-56a1-4058-8cdb-9ffe5e14a4ad.vsidx
/.vs/Bakalauras.API/FileContentIndex/4e54e255-610f-4c92-8317-9f840a799bab.vsidx
/.vs/Bakalauras.API/FileContentIndex/0af046dd-c312-4955-975b-a50e3267d774.vsidx
/.vs/Bakalauras.API/FileContentIndex/db333923-5248-4039-84c5-079a86067c90.vsidx
/.vs/Bakalauras.API/FileContentIndex/eb83050b-c01d-40bf-aa4c-b03520458ec2.vsidx
/.vs/Bakalauras.API/FileContentIndex/082d5a93-752c-44bf-bc66-37cef0e44795.vsidx
/.vs/Bakalauras.API/FileContentIndex/35798208-83e5-45ee-ba9c-51f955cb00d0.vsidx
/.vs/Bakalauras.API/FileContentIndex/6bdb7b98-da17-42ea-adbd-f81a25261e5e.vsidx
/.vs/Bakalauras.API/FileContentIndex/da9380b4-edaf-4ec0-96ec-51354dfc391e.vsidx
/.vs/Bakalauras.API/FileContentIndex/e497ffe1-0d83-4450-836f-3f5a30ff67e4.vsidx
/.vs/Bakalauras.API/DesignTimeBuild/.dtbcache.v2
/.vs/Bakalauras.API/FileContentIndex/09cce572-3e8b-4ac8-a0d5-8f5d86f9c595.vsidx
/.vs/Bakalauras.API/FileContentIndex/3d7ae5ad-7cf3-420f-9d55-16a4c1ad9d7a.vsidx
/.vs/Bakalauras.API/FileContentIndex/5047e0fb-59ca-4a58-aeec-605396ec23e7.vsidx
/.vs/Bakalauras.API/FileContentIndex/80b9c3ff-f6e6-4158-a872-311660fb210e.vsidx
/.vs/Bakalauras.API/FileContentIndex/a3b7382c-4509-40b6-bea4-96539625cdee.vsidx
/.vs/Bakalauras.API/FileContentIndex/140269c3-2244-4e51-a205-3427eb53c1a8.vsidx
/.vs/Bakalauras.API/FileContentIndex/5433898a-cfc9-44a8-93bb-7972cb5ed115.vsidx
/.vs/Bakalauras.API/FileContentIndex/977dbc8c-ed9a-4d11-a564-984079be827d.vsidx
/.vs/Bakalauras.API/FileContentIndex/a5d986ce-42f8-40fe-bca9-1330ddc263bc.vsidx
/.vs/Bakalauras.API/FileContentIndex/b9b6b973-e938-43de-a852-198ab04f4ffd.vsidx
/.vs/Bakalauras.API/FileContentIndex/49c26da8-28b8-40fc-a556-94993a49ac4c.vsidx
/.vs/Bakalauras.API/FileContentIndex/705cd477-c3b9-4d62-82e6-7dd38c635784.vsidx
/.vs/Bakalauras.API/FileContentIndex/e95ff9c1-5018-4705-9168-73790df3df0f.vsidx
/.vs/Bakalauras.API/FileContentIndex/055cf037-6d5f-4f36-a83a-c0f592099bc0.vsidx
/.vs/Bakalauras.API/FileContentIndex/b409e497-6b59-4c1c-860f-ff472a568e4b.vsidx
/.vs/Bakalauras.API/FileContentIndex/8dfbaa3e-52ae-4914-8ab9-045d67bf5189.vsidx
/.vs/Bakalauras.API/FileContentIndex/8c1c9073-1a18-4563-9071-70316d06aa85.vsidx
/.vs/Bakalauras.API/FileContentIndex/1d37a156-475b-4332-8360-a5bc4f49ba30.vsidx
/.vs/Bakalauras.API/FileContentIndex/280871b3-9d4f-4677-a700-ec0d58807165.vsidx
/.vs/Bakalauras.API/FileContentIndex/7a0a30bf-920f-4559-806f-78ddc6eca45a.vsidx
/.vs/Bakalauras.API/FileContentIndex/a5d2531a-ffea-4b18-bc51-882311f0178a.vsidx
/.vs/Bakalauras.API/FileContentIndex/97b67af4-bfaa-45d7-b104-fccc1db4a546.vsidx
/.vs/Bakalauras.API/FileContentIndex/19c3c50f-0cc3-4d52-ac17-61852c30f596.vsidx
/.vs/Bakalauras.API/FileContentIndex/2944bc7b-99b0-42a3-9141-a276300ccb3c.vsidx
/.vs/Bakalauras.API/FileContentIndex/f07938c2-b355-458b-8f9b-d52d073193bf.vsidx
/.vs/Bakalauras.API/FileContentIndex/0e008a43-9fb9-4644-b4ae-e399e880886c.vsidx
/.vs/Bakalauras.API/FileContentIndex/50319d1e-7406-47ad-8794-4d0d1c59c348.vsidx
/.vs/Bakalauras.API/FileContentIndex/ada54884-28a0-4e37-a9de-a8059ff676b3.vsidx
/.vs/Bakalauras.API/FileContentIndex/be1c396e-d730-4e3f-a8c7-9081d65e980b.vsidx
/.vs/Bakalauras.API/FileContentIndex/bfa416fd-d340-4aeb-a1e9-41a6ffb3ad8f.vsidx
/.vs/Bakalauras.API/FileContentIndex/1c5eee4f-0c22-4997-86ff-4b709cf45e48.vsidx
/.vs/Bakalauras.API/FileContentIndex/1f5f8822-82d7-42e0-a468-e2106a6e0f3a.vsidx
/.vs/Bakalauras.API/FileContentIndex/2614e8dd-aa88-424a-9301-8acbc997f527.vsidx
/.vs/Bakalauras.API/FileContentIndex/a480e2fb-6f36-4d1f-83ec-ebf9afd3a75d.vsidx
/.vs/Bakalauras.API/FileContentIndex/eab6a5e0-a8fe-4e6e-b28f-31eccc3064a7.vsidx
/.vs/Bakalauras.API/FileContentIndex/4acd9889-d752-4769-8c38-8cfb9efb00ab.vsidx
/.vs/Bakalauras.API/FileContentIndex/66335229-19af-43bc-bcbf-888c852a2045.vsidx
/.vs/Bakalauras.API/FileContentIndex/ab4f38f7-de71-4d58-bd59-7b94c49b6aae.vsidx
/.vs/Bakalauras.API/FileContentIndex/c48d75e6-6e3c-4258-9b0b-bf54f29e9a5c.vsidx
/.vs/Bakalauras.API/FileContentIndex/6673f8fa-a6a1-4be9-b3ee-e20b18e9700f.vsidx
/.vs/Bakalauras.API/FileContentIndex/740606bc-5d04-4146-949b-b5c4fbf3ccd8.vsidx
/.vs/Bakalauras.API/FileContentIndex/b361d319-c4d8-4465-a446-15cfa9f6bc3e.vsidx
/.vs/Bakalauras.API/FileContentIndex/366083c9-618e-4215-b591-d0bed13985b8.vsidx
/.vs/Bakalauras.API/FileContentIndex/a9d41bf5-a45d-4e80-b2aa-9d18b96f4f86.vsidx
/.vs/Bakalauras.API/FileContentIndex/bbfcd1b4-8a0e-4473-a84d-00e50f650ce6.vsidx
/.vs/Bakalauras.API/FileContentIndex/2fe53cdd-2314-4f4a-b095-1aed53a0d23b.vsidx
/.vs/Bakalauras.API/FileContentIndex/97a61cb0-2a0e-45ee-bdad-23c37231b37d.vsidx
/.vs/Bakalauras.API/FileContentIndex/fd8796f3-08c0-4068-8314-434f738d8873.vsidx
/.vs/Bakalauras.API/FileContentIndex/46aee476-16e0-4b57-81cf-a4176c81b0fe.vsidx
/.vs/Bakalauras.API/FileContentIndex/4d2be05d-7c66-4057-9bd8-9b6b64476ab1.vsidx
/.vs/Bakalauras.API/FileContentIndex/a9715a76-39aa-4867-9dbb-bec47d442e4a.vsidx
/.vs/Bakalauras.API/FileContentIndex/b1513dea-306b-46bb-8011-6e22006e2af2.vsidx
/.vs/Bakalauras.API/FileContentIndex/f28b6b11-c3e8-4685-9f99-2cb18254e483.vsidx
/.vs/Bakalauras.API/FileContentIndex/63919e24-f30a-44d2-9839-72087cda2655.vsidx
/.vs/Bakalauras.API/FileContentIndex/720c3854-0a16-4760-92be-24515a41ba06.vsidx
/.vs/Bakalauras.API/FileContentIndex/994edb52-023a-4e7f-b86a-14df661e0ac7.vsidx
/.vs/Bakalauras.API/FileContentIndex/a7481b98-21aa-4e74-9efc-a7f39336975c.vsidx
/.vs/Bakalauras.API/FileContentIndex/e7a0dae0-f12c-42ca-b67b-8cf5b65baac5.vsidx
/.vs/Bakalauras.API/FileContentIndex/0802ca0b-133f-4ecd-a3a4-c382c86f4b9c.vsidx
/.vs/Bakalauras.API/FileContentIndex/0bf23fd8-4890-4bd8-b96f-67e88105fd5a.vsidx
/.vs/Bakalauras.API/FileContentIndex/28b404a4-2589-40cb-a636-013e2bbe7e7c.vsidx
/.vs/Bakalauras.API/FileContentIndex/609c398d-1814-4994-9eb8-5735f5d753eb.vsidx
/.vs/Bakalauras.API/FileContentIndex/da23604c-819a-439a-afcc-919d07d6e2f9.vsidx
/.vs/Bakalauras.API/FileContentIndex/2232961d-83a4-4fec-9541-739df641ce88.vsidx
/.vs/Bakalauras.API/FileContentIndex/2b70f8f4-c3e9-4221-b0c5-52ab2df0f3b9.vsidx
/.vs/Bakalauras.API/FileContentIndex/2f0ecb89-acce-4676-82fc-0f567bcaa979.vsidx
/.vs/Bakalauras.API/FileContentIndex/b8b54cdf-91c3-4154-8a1e-0c05ef2935f6.vsidx
/.vs/Bakalauras.API/FileContentIndex/00db40a6-aa7d-4aa9-97a7-e6e2b93caadc.vsidx
/.vs/Bakalauras.API/FileContentIndex/0602b4ae-26e4-482f-a7c8-6ff9184e66f1.vsidx
/.vs/Bakalauras.API/FileContentIndex/2d5e25a9-0906-45b5-909a-690df11ef6c8.vsidx
/.vs/Bakalauras.API/FileContentIndex/416a231a-a90c-45ce-a3aa-f0aea1deb921.vsidx
/.vs/Bakalauras.API/FileContentIndex/8ad2064a-02b2-4b31-b37c-72e1995626fa.vsidx
/.vs/Bakalauras.API/FileContentIndex/be194764-8b73-4f42-807c-d1accb6b9ca7.vsidx
/.vs/Bakalauras.API/FileContentIndex/092e6bfe-d043-463a-8f10-eac2a6e7a685.vsidx
/.vs/Bakalauras.API/FileContentIndex/26ccd46d-3de4-42a7-b69b-acf6d0130441.vsidx
/.vs/Bakalauras.API/FileContentIndex/4c43ee0c-2f5e-4b8d-b5ba-bfc7d00c275b.vsidx
/.vs/Bakalauras.API/FileContentIndex/7ee38aa0-d56f-49ea-b544-2acc86bbe1a5.vsidx
/.vs/Bakalauras.API/FileContentIndex/d32cff18-b1d6-401a-a4f5-bd461049a814.vsidx
/.vs/Bakalauras.API/FileContentIndex/f4b412d0-3419-4bf3-b900-44060f691758.vsidx
/.vs/Bakalauras.API/FileContentIndex/08e24672-3449-45dc-b05c-a7ae5ea332a7.vsidx
/.vs/Bakalauras.API/FileContentIndex/1bf57a98-85d3-4b7d-b781-dc3b1c0eb8ec.vsidx
/.vs/Bakalauras.API/FileContentIndex/218b3817-a699-4187-8e03-d9787a691c1d.vsidx
/.vs/Bakalauras.API/FileContentIndex/ee6ae1ad-cf19-4520-b2f2-927b3b43e9d8.vsidx
/.vs/Bakalauras.API/FileContentIndex/4c9ab1f9-1975-4311-b71f-2f5577877cd6.vsidx
/.vs/Bakalauras.API/FileContentIndex/9c43fa59-b81f-49e6-9699-743ad1b74323.vsidx
/.vs/Bakalauras.API/FileContentIndex/b9ddb912-dc20-4cf7-a30f-a586ff9bc805.vsidx
/.vs/Bakalauras.API/FileContentIndex/174cae99-5489-4a42-9c94-f4503465a760.vsidx
/.vs/Bakalauras.API/FileContentIndex/2d1e36f8-5fe8-4051-8f26-b8f5316a920c.vsidx
/.vs/Bakalauras.API/FileContentIndex/891d9ac6-8e12-4cbd-8a3e-2c53f46e2522.vsidx
/.vs/Bakalauras.API/FileContentIndex/e4c93b62-fc9d-462e-8f78-b9080cc031ad.vsidx
/.vs/Bakalauras.API/FileContentIndex/a83fb46a-8453-40d4-bce8-a8ac88bfa4a6.vsidx
/.vs/Bakalauras.API/FileContentIndex/5e6a0e6f-3200-4e28-b629-be5642fbf67d.vsidx
/.vs/Bakalauras.API/FileContentIndex/60dc5d67-0d0f-48b6-8fe8-9772c0ac1975.vsidx
/.vs/Bakalauras.API/FileContentIndex/a4623d04-88f3-4f2b-b250-7e046e47a51c.vsidx
/.vs/Bakalauras.API/FileContentIndex/e75bb8e6-7049-4b1b-af43-210013d89985.vsidx
/.vs/Bakalauras.API/FileContentIndex/58e5f107-3e17-48f1-abdd-b412978d9023.vsidx
/.vs/Bakalauras.API/FileContentIndex
