################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bakalauras/v17/.wsuo
/.vs/Bakalauras/v17/DocumentLayout.json
/.vs/Bakalauras.API/FileContentIndex/79a7a709-557e-44e6-bf31-618191e81154.vsidx
/.vs/Bakalauras.API/FileContentIndex/8ef5ac54-a332-453f-b053-75e39b1260d0.vsidx
/.vs/Bakalauras.API/FileContentIndex/985aff88-34ae-49f3-9647-c1c91d4a410a.vsidx
/.vs/Bakalauras.API/FileContentIndex/e37a075f-11a2-4a23-b828-9a16ef964f84.vsidx
/.vs/Bakalauras.API/FileContentIndex/21f1474e-fc88-4eb2-ab38-2dda346e30e9.vsidx
/.vs/Bakalauras.API/FileContentIndex/359df09d-ad9e-4fa4-8077-834ec5202d17.vsidx
/.vs/Bakalauras.API/FileContentIndex/5329d939-ec9e-45cc-901c-6c2b5f11333f.vsidx
/.vs/Bakalauras.API/FileContentIndex/6de95d45-6e4d-44cf-8331-7bb994630c19.vsidx
/.vs/Bakalauras.API/FileContentIndex/8fb58089-5d99-4bd0-ad1c-f7f113203bf8.vsidx
/.vs/Bakalauras.API/FileContentIndex/b2fe4f2b-4372-4098-bcdc-47bf5962ce68.vsidx
/.vs/Bakalauras.API/FileContentIndex/e2c5c9cc-3cf2-4f95-a539-156ead6638f7.vsidx
/.vs/Bakalauras.API/FileContentIndex/f2e6b0ab-56a1-4058-8cdb-9ffe5e14a4ad.vsidx
